
.services__wrapper-derc {
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;

}
.services__border {
    margin-bottom: 15px;
    margin-top: 10px;
    width: 50px;
    height: 3px;
    background: #8643DC;
    
}

.services__wrapper-title {
    max-width: 246px;
    height: 96px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
}
.services__list {
    display: flex;
    justify-content: space-between;
}
.services__item {
    position: relative;
}
.services__item-img {
    margin-top: 50px;
    
    
}
.services__item-title {
    position: absolute;
    top: 70px;
    margin-left: 20px;
   
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
}

.services__item-text { 
    margin-top: 21px;
    max-width: 350px;
    height: 121px;
}
.portfolia__derc {
    margin-top: 150px;
}
@media (max-width: 1100px) {
    .services__list {
        display: flex;
        flex-wrap: wrap;
    }
}