@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');
@import url(./container.css);
@import url(./header.css);
@import url(./services.css);
@import url(./portfolia.css);
@import url(./clients.css);
@import url(./testimonials.css);
@import url(./blog.css);
@import url(./contact.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background: linear-gradient(180deg, rgba(187, 133, 255, 0.166) -8.54%, rgba(255, 244, 251, 0.2) 100%);
}